@import 'fonts.css';

* {
    font-family: 'NR';
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#home {
    width: 8%;
    height: 8%;
    position: absolute;
    top: 4%;
    right: 20%;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }
body::-webkit-scrollbar-track {
  background: white;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(189, 186, 186);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
}


/* Оформление панели */
#side-checkbox {
    display: none;
}

.side-panel::-webkit-scrollbar {
    width: 0;
}

.side-panel {
    scroll-behavior: smooth;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #a3b18a;
    transition: all 0.8s;   
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
    overflow-y: auto;
    height: 100%;
}
.side-title {
    font-size: 24px;
}
/* Оформление кнопки на странице */

.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}

.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    cursor: pointer;
    transition: 250ms;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}

/* Переключатели кнопки 1 */

.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    transform: scale(1.1);
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #000000;    
    transition: all 280ms ease-in-out;    
}


.acor-container {
    margin: 20px 0;
}
.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #c8daa9;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    cursor: pointer;
    background-color: #a3b18a;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #000000;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;   
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}
.acor-container label:hover {
    color: rgb(235, 225, 225);
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    content: '\276F';
    float: right;
}
.acor-container input:checked + label {
    background-color: #717a5f;
    color: rgb(235, 225, 225);
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}

.main-img {
    width: 39%;
    pointer-events: none;
}
.main {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#ll {
    font-size: 50px;
}
#lll {
    font-size: 50px;
    position: absolute;
    left: 10%;
    top: 50%;
}
.welcom {
    background-color: #dad7cd;
}
#header-text {
    font-size: 343%;
}
#header-img {
    height: 10%;
    width: 10%;
}
.class {
    background: url(../img/vlr8o8qg9boxmndg7a9uxyw39mnsj9e3.png);
}


header {
    background-color: #588157 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15svh;
}
